@tailwind base;
@tailwind components;
@tailwind utilities;

.oakd {
  --border-radius: 4px;
  --gap-sizing: 7pt;
  --leading: 7pt;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

textarea {
  border: 1px solid var(--oakd-default-border);
  padding: var(--leading);
}

.node_container {
  padding: 0 42px;
}
.node_container_input {
  margin: 0 42px;
}

.gap {

  column-gap: var(--gap-sizing);
  row-gap: var(--gap-sizing);

}

.pad-v {
  padding: var(--leading) 0 calc( var(--leading) * 2) 0;
}
.pad-h {
  padding: 0 calc( var(--leading) * 2) 0 var(--leading);
}

.node__header {
  background: #ebf6f6;
}

.execution__container .debug-layer {
    border-color: #545454;
}
.execution__container .debug-layer .header > .label {
  background-color: #d2e7ef;
}

.execution__container.running .debug-layer {
    border-color: #8c4803;
}
.execution__container.running .debug-layer .header > .label {
    background-color: #fce9d3;
}

.execution__container.success .debug-layer {
    border-color: #2a8660;
}
.execution__container.success .debug-layer .header > .label {
    background-color: #bfe5cb;
}

.execution__container.error .debug-layer {
    border-color: #7c1f1f;
}
.execution__container.error .debug-layer .header > .label {
    background-color: #eecaca;
}

.execution__container.running .execution__node {

}

.execution__container.running .execution__node{
  opacity: 1;
  border: 1px solid #d0d0d0;
}
.execution__container.running .execution__node .node__header {
  background: #e8e8e8;
}


.execution__container.running .execution__node.node__active {
    opacity: 1;
    border: 1px solid #8c4803;
}
.execution__container.running .execution__node.node__active .node__header {
  background: #fce9d3;
}



.execution__container.error .execution__node.node__active {
    opacity: 1;
    border: 1px solid #cc0000;
}
.execution__container.error .execution__node.node__active .node__header {
  background: #fcd3d3;
}



.terminal {

}

.terminal .entry {
  border-bottom: 1px solid #eee;
}

.terminal .entry.system {
  background-color: #f3f3f3;
  border-bottom: 1px solid #d5d5d5;
}

.terminal .entry.error {
  background-color: #ffa9a9;
  color: #801717;
  border-bottom: 1px solid #ff6060;
}
